html{
    height: 100%  
}
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right,#0B6E73,#ACECEF);
}
#conteiner {
    display: flex;
    height: 100%;
    width: 100%;
    
    flex-direction: column;
    background-color: #fafafa;
}
#barra {
    display: flex;
    height: 10%;
    width: 100%;

    background-color: #202020;
}
#conteudo{
    display: flex;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom right,#0B6E73,#ACECEF);   
    justify-content: center;
    align-items: center;
}
#conteudoFundo{
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    background-image: url("pc.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
#abaLogin{
    display: flex;
    height: 600px;
    width: 400px;

    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 114, 118,0.6);
    border-radius: 50px;
    box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, .3);
}
#rodape{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #002D30;
}