@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.ttf") format("ttf");
  }

html{
    font-family: Poppins;
/* parametros para o html */
    height: 150%; 
    width: 100%;
/* altura e largura da pagina % da tela */
    margin: 0pt;
    border: 0pt;
    padding: 0pt;
/* margem borda distanvia da borda */
    background: linear-gradient(-30deg, rgba(33, 147, 153, 1), rgba(209, 253, 255, 1));
/* fundo da bagina geral (geralmente o mesmo fundo do conteudo) */
}

body {
/* parametros para o corpo do site */
    height: 100%;
    width: 100%;
/* altura e largura da pagina % do html*/
    margin: 0pt;
    border: 0pt;
    padding: 0pt;
/* margem borda distanvia da borda */
    background: #ACECEF;
/* fundo da bagina geral (geralmente o mesmo fundo do conteudo) */

    color: #F3F1DB;

}

::-webkit-scrollbar{
    width: 3pt;
}
::-webkit-scrollbar-track{
    background-color: #35A8AE;
}
::-webkit-scrollbar-thumb{
    background-color: #61d8df;
}



h2{
    margin: 5pt;
    border: 0pt;
    padding: 0pt;

    color: #393325;
}

#textoMid {
    /* parametros para o corpo do site */
    height: 25pt;
    width: 100%;
/* altura e largura da pagina % do html*/
    margin: 25pt;
    border: 0pt;
    padding: 0pt;

    text-align: center;
    
    

}

#top{
    position: fixed;
    z-index: +1;
    height: 5%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
}
    #bar{
        height: 40pt;
        width: 100%;
    
        margin: 0pt;
        border: 0pt;
        padding: 15pt 15pt 0pt 15pt;

        background:  rgba(11, 110, 115, 0.4);
        box-shadow: 0 10pt 15pt 0 rgba( 31, 38, 135, 0.2 );
        backdrop-filter: blur( 2pt );
        -webkit-backdrop-filter: blur( 1px );
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #logoBar{
            height: 100%;
            width: 15%;
        
            margin: 0pt;
            border: 0pt;
            padding: 0 4pt 0 0;

            display: flex;
            justify-content: start;
            align-items: center; 
        }

        #menuBar{
            height: 100%;
            width: 70%;
        
            margin: 0 6% 0 0;
            margin-right: max(10pt);
            border: 0pt;
            padding: 0pt;

            display: flex;
            justify-content: center;
            align-items: center;   
        }
            .menu{
                margin: 0 5%;
                border: 0pt;
                padding: 0pt;
            }

        #loginBar{
            height: 100%;
            width: 15%;
            min-width: 80pt;
        
            margin: 0pt;
            border: 0pt;
            padding: 0pt;

            display: flex;
            justify-content: right;
            align-items: center;
        
        }
        #loginBarBotao{
            height: 80%;
            width: 80%;
            min-width: 50pt;

            margin: 0pt;
            border: 0pt;
            border-radius: 5pt;
            padding: 3pt;
            

            color: #292316;
            background-color: #9EC172;
            font-size: large;
        }
        #loginBarBotao:hover{
            background-color: #4F8210;
            color: #FFF7B0;

        }

#mid{
    height: 80%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}
    #imgMidFundo{
        height: 100%;
        width: 100%;
    
        margin: 0pt;
        border: 0pt;
        padding: 0pt;

        display: flex;
        justify-content: center;
        align-items: center;
        
        background-image: url("../IMAGENS/FUNDO-AZUL.svg");
        
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        }
        .abaMidLogin{
            height: 400pt;
            width: 400pt;
        
            margin: 0pt;
            border: 5pt;
            border-radius: 10pt;
            padding: 0pt;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            background: rgba(33, 147, 153, 0.3);
            box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 3px );
            box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);
        }

        .abaMidCadastro{
            height: 400pt;
            width: 400pt;
        
            margin: 0pt;
            border: 5pt;
            border-radius: 10pt;
            padding: 0pt;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            background: rgba(33, 147, 153, 0.3);
            box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 3px );
            box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);
        }
           
        #abaDireita{
            height: 80%;
            width: 20%;
        
            margin: 1%;
            border: 5pt;
            border-radius: 10pt;
            padding: 0pt;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            background: rgba(33, 147, 153, 0.6);
            box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 3px );
            box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);

        }

        #abaEsquerda{
            height: 80%;
            width: 75%;
        
            margin: 0pt;
            border: 5pt;
            border-radius: 10pt;
            padding: 0pt;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            
            background: rgba(33, 147, 153, 0.6);
            box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 3px );
            box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);

        }

        .abaEsquerdaTop{
            height: 30%;
            width: 80%;
        
            margin: 0pt;
            border: 5pt;
            border-radius: 10pt;
            padding: 0pt;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        .fotoPerfil {
            height: 10rem;
            width: 10rem;

            margin: 2rem;
            border: 5pt;
            border-radius: 50%;
            padding: 0pt;

            background-color: #35878b;
            
        }

        .abaEsquerdaMid{
            height: 2.5rem;
            width: 80%;
            min-width: 50pt;
            
            margin: 0rem;
            border: 0pt;
            border-radius: 5pt;
            padding: 0pt;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

        }

        .buttonMapLocal{
            height: 2.5rem;
            width: 9rem;
            min-width: 50pt;
            
            margin: 2rem 0rem 0rem 0.5rem;
            border: 0pt;
            border-radius: 5pt;
            padding: 0pt;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            color: #FFF7B0;
            background-color: #35878b;
            font-size: large;
            
        }
        .buttonMapLocal:hover{
            background-color: #0b3133;
            color: #FFF7B0;

        }
        .imgMapLocal{
            height: 1.5rem;
            width: 2rem;

            margin: 0rem 0.5rem 0rem 0rem;
            border: 0pt;
            border-radius: 30%;
            padding: 0pt;

            background-color: #35878b;

        }

            
#bot{
    height: 20%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;  

    background-color: #0b3133;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15pt; 

}