#mid{
    height: 70%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoMid {
    /* parametros para o corpo do site */
    height: 25pt;
    width: 100%;
/* altura e largura da pagina % do html*/
    margin: 25pt;
    border: 0pt;
    padding: 0pt;

    text-align: center;
}

#imgMidFundo{
    height: 100%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../IMAGENS/FUNDO-AZUL.svg");
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    }

#mid{
    height: 80%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt; 
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    
}

#textoMid {
    /* parametros para o corpo do site */
    height: 25pt;
    width: 100%;
/* altura e largura da pagina % do html*/
    margin: 25pt;
    border: 0pt;
    padding: 0pt;

    text-align: center;
    
    

}

#cadastrar{
height: 35pt;
width: 82%;
min-width: 300pt;

margin: 15pt;
border: 0pt;
border-radius: 10pt;
padding: 0pt;

font-size: large;
background-color: #C8CEAE;

}

#cadastrar:hover{
background-color: #406b0b;
color: #FFF7B0;
}
.inputGroup{
    height: 30pt;
    width: 70%;
    min-width: 300pt;
    
    margin: 15pt;
    border: 0px;
    border-radius: 10pt;
    padding: 0pt;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 16pts;

}
.input {
    height: 10pt;
    width: 80%;
    min-width: 300pt;

    padding: 16px;
    border: solid  1px;
    border-radius: 10px;
    border-color: #ACECEF;
    
    background-color: rgba(14, 83, 85, 0.1) ;
    outline: 5px ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15pt;            
}
.inputLabel{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1px, 10px);
    transition: transform .4s;
}
.input:focus+.inputLabel,
.input:valid+.inputLabel{
    transform: 
    translate(1px, -25px) scale(0.8);
    color: rgb(29, 92, 92);
    padding-inline: 0px;
    background-color: transparent;
}
.input:is(:focus, :valid){
    outline-color: rgb(246, 248, 125);
}

#abaDireita{
    height: 80%;
    width: 20%;

    margin: 1%;
    border: 5pt;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: rgba(33, 147, 153, 0.6);
    box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);

}

#abaEsquerda{
    height: 80%;
    width: 75%;

    margin: 0pt;
    border: 5pt;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    background: rgba(33, 147, 153, 0.6);
    box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);

}

.abaEsquerdaTop{
    height: 30%;
    width: 80%;

    margin: 0pt;
    border: 5pt;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fotoPerfil {
    height: 10rem;
    width: 10rem;

    margin: 2rem;
    border: 5pt;
    border-radius: 50%;
    padding: 0pt;

    background-color: #35878b;
    
}

.abaEsquerdaMid{
    height: 2.5rem;
    width: 80%;
    min-width: 50pt;
    
    margin: 0rem;
    border: 0pt;
    border-radius: 5pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.buttonMapLocal{
    height: 2.5rem;
    width: 9rem;
    min-width: 50pt;
    
    margin: 2rem 0rem 0rem 0.5rem;
    border: 0pt;
    border-radius: 5pt;
    padding: 0pt;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: #FFF7B0;
    background-color: #35878b;
    font-size: large;
    
}
.buttonMapLocal:hover{
    background-color: #0b3133;
    color: #FFF7B0;

}
.imgMapLocal{
    height: 1.5rem;
    width: 2rem;

    margin: 0rem 0.5rem 0rem 0rem;
    border: 0pt;
    border-radius: 30%;
    padding: 0pt;

    background-color: #35878b;

}
