.imgMidFundo{
    height: 100%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-30deg, rgb(14, 101, 105), rgb(209, 245, 247));

    background-repeat: no-repeat;
    background-size: 300%;

    animation: AnimationFundo 10s ease infinite;
}
@keyframes AnimationFundo{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.mid{
    height: 75%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt; 
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;   
}

.abaEsquerda{
    height: 85%;
    width: 20%;
    min-width: 170pt;

    margin: 40pt 5pt 0 0;
    border: 0;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: rgba(33, 147, 153, 0.6);
    box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);

}

.abaDireita{
    height: 85%;
    width: 76%;
    min-width: 100pt;

    margin: 40pt 0 5pt 0;
    border: 0;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content:space-between;
    align-items: center;

}

.abaDireitaTop{
    height: 100%;
    width: 25%;
    min-width: 130pt;


    margin: 0pt 5pt 0 0;
    border: 0;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   
    background: rgba(33, 147, 153, 0.6);
    box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);
}

.fotoPerfil {
    height: 10rem;
    width: 10rem;

    margin: 30pt 0;
    border: 5pt;
    border-radius: 50%;
    padding: 0pt;

    background-color: #35878b;
    
}

.abaDireitaMapa{
    height: 100%;
    width: 74%;
    min-width: 200pt;


    margin: 0pt 0 0 0pt;
    border: 5pt;
    border-radius: 10pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    background: rgba(33, 147, 153, 0.6);
    box-shadow: 0 0 50px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: 0px 0 50px 0 rgba(0,0,0,0.2);
}

.buttonMapLocal{
    height: 2.5rem;
    width: 9rem;
    min-width: 50pt;
    
    margin: 2rem 0rem 0rem 0.5rem;
    border: 0pt;
    border-radius: 5pt;
    padding: 0pt;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    color: #FFF7B0;
    background-color: #35878b;
    font-size: large;
    
}

.buttonMapLocal:hover{
    background-color: #0b3133;
    color: #FFF7B0;

}

.imgMapLocal{
    height: 1.5rem;
    width: 2rem;

    margin: 0rem 0.5rem 0rem 0rem;
    border: 0pt;
    border-radius: 30%;
    padding: 0pt;

    background-color: #35878b;

}

.buttonMapLocal{
    height: 32pt;
    width: 80%;
    
    margin: 10pt 0pt 0pt 1pt;
    border: 0pt;
    border-radius: 5pt;
    padding: 5pt;
    
    display: flex;
    justify-content: left   ;
    align-items: center;
    flex-direction: row;

    color: #FFF7B0;
    background-color: #35878b;
    font-size: large;
    
}

.buttonMapLocal:hover{
    background-color: #0b3133;
    color: #FFF7B0;

}

.fotoMapa {
    height: 30rem;
    width: 40rem;

    max-height: 75%;
    max-width: 90%;

    margin: 30pt 5pt;
    border: 5pt;
    border-radius: 10pt;
    padding: 0pt;

    background-color: #35878b;
    
}

.inputGroup{
    height: 30pt;
    width: 90%;
    min-width: 100pt;
    
    margin: 5pt;
    border: 0px;
    border-radius: 0pt;
    padding: 0pt;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 16pts;

}
.input {
    height: 10pt;
    width: 80%;
    min-width: 10pt;

    padding: 16px;
    border: solid  1px;
    border-radius: 10px;
    border-color: #ACECEF;
    
    background-color: rgba(14, 83, 85, 0.1) ;
    outline: 5px ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15pt;            
}
.inputLabel{
    z-index: -1;
    position: absolute;
    top: -2pt;
    left: 10pt;
    transform: translate(1px, 10px);
    transition: transform .4s;
}
.input:focus+.inputLabel,
.input:valid+.inputLabel{
    transform: 
    translate(1px, -25px) scale(0.8);
    color: rgb(29, 92, 92);
    padding-inline: 0px;
    background-color: transparent;
}
.input:is(:focus, :valid){
    outline-color: rgb(246, 248, 125);
}

.olho{
    z-index: +1;
    position: absolute;
    right: -1%;
    background: transparent;
    border: 0;
}


.LogarCadastrar{
    height: 35pt;
    width: 82%;
    min-width: 300pt;
    
    margin: 15pt;
    border: 0pt;
    border-radius: 10pt;
    padding: 0pt;
    
    font-size: large;
    background-color: #406b0b;
    color: #FFF7B0;
    
    }
    
    .LogarCadastrar:hover{
    background-color: #5A6B45;
    color: #FFF7B0;
    }
