.bot{
    height: 30%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;  

    background-color: #0b3133;

    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 15pt; 
    
}
.textoBot{
    height: 80%;
    width: 40%;

    margin: 30pt 40pt;
    border: 0pt;
    padding: 0pt;  
}
.BotDivisor{
    height: 80%;
    width: 5pt;

    margin: 20pt 20pt;
    border: 0pt;
    border-radius: 20pt;
    padding: 0pt;  

    background-color: #FFF7B0;
}

.LogoBot{
    height: 100%;
    width: 60%;
    margin: 0;
    border: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.LogoBotImg{
    height: 100pt;
    width: 300pt;
}
    

.sala01{
    height: 25%;
    width: 50%;
    background-color: red;
}
.sala02{
    height: 25%;
    width: 50%;
    background-color: rgb(165, 165, 165);

}
.sala03{
    height: 25%;
    width: 50%;
    background-color: rgb(0, 0, 0);

}
.sala04{
    height: 25%;
    width: 50%;
    background-color: rgb(255, 255, 255);

}