.Top{
    position: fixed;
    z-index: +1;
    height: 10%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Bar{
    height: 40pt;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 15pt 15pt 0pt 15pt;

    background:  rgba(11, 110, 115, 1);
    box-shadow: 0 10pt 15pt 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 2pt );
    -webkit-backdrop-filter: blur( 1px );
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}
        #logoBar{
            height: 100%;
            width: 15%;
        
            margin: 0pt;
            border: 0pt;
            padding: 0 4pt 0 0;

            display: flex;
            justify-content: start;
            align-items: center; 
        }

        #menuBar{
            height: 100%;
            width: 70%;
        
            margin: 0 6% 0 0;
            margin-right: max(10pt);
            border: 0pt;
            padding: 0pt;

            display: flex;
            justify-content: center;
            align-items: center;   
        }
            .menu{
                margin: 0 5%;
                border: 0pt;
                padding: 0pt;
            }

        #loginBar{
            height: 100%;
            width: 15%;
            min-width: 80pt;
        
            margin: 0pt;
            border: 0pt;
            padding: 0pt;

            display: flex;
            justify-content: right;
            align-items: center;
        
        }
        #loginBarBotao{
            height: 80%;
            width: 80%;
            min-width: 50pt;

            margin: 0pt;
            border: 0pt;
            border-radius: 5pt;
            padding: 3pt;
            

            color: #292316;
            background-color: #9EC172;
            font-size: large;
        }
        #loginBarBotao:hover{
            background-color: #4F8210;
            color: #FFF7B0;

        }
        
.Top{
    position: fixed;
    z-index: +1;
    height: 5%;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Bar{
    height: 40pt;
    width: 100%;

    margin: 0pt;
    border: 0pt;
    padding: 15pt 15pt 0pt 15pt;

    background:  rgba(11, 110, 115, 0.4);
    box-shadow: 0 10pt 15pt 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 2pt );
    -webkit-backdrop-filter: blur( 1px );
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoBar{
    height: 100%;
    width: 20%;

    margin: 0pt;
    border: 0pt;
    padding: 0 4pt 0 0;

    display: flex;
    justify-content: start;
    align-items: center; 
}

.VazioBar{
    height: 100%;
    width: 80%;

    margin: 0 6% 0 0;
    margin-right: max(10pt);
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: center;
    align-items: center;   
}

.MenuBar{
    height: 100%;
    width: 10%;
    min-width: 80pt;

    margin: 0pt;
    border: 0pt;
    padding: 0pt;

    display: flex;
    justify-content: right;
    align-items: center;
}

.BotaoBar{
    height: 60%;
    width: 90%;
    min-width: 90pt;

    margin: 3pt;
    border: 0pt;
    border-radius: 5pt;
    padding: 3pt;
    
    color: #292316;
    background-color: #9EC172;
    font-size: large;
}
    .BotaoBar:hover{
        background-color: #4F8210;
        color: #FFF7B0;
    }
    .BotaoBar:active{
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25);
        /* Lowering the shadow */
    }

    .BotaoBar:hover{
        background-color: #4F8210;
        color: #FFF7B0;
    }


.BotaoLogoBar{
    height: 30pt;
    width: 30pt;
    

    margin: 3pt;
    border: 0pt;
    border-radius: 50%;
    padding: 3pt;
    
    color: #292316;
    background-color: #9EC172;
    font-size: large;
}
    .BotaoLogoBar:hover{
        background-color: #4F8210;
        color: #FFF7B0;
    }
    .BotaoLogoBar:active{
        transform: scale(0.98);
        /* Scaling button to 0.98 to its original size */
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25);
        /* Lowering the shadow */
    }

    .BotaoLogoBar:hover{
        background-color: #4F8210;
        color: #FFF7B0;
    }

